:root {
    --primary-color: #3498db;
    --secondary-color: #13b499;
    --third-color: #ebebebc9;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--third-color);
}

body {
    font-family: Arial, sans-serif;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    & nav {
        display: flex;
        flex-direction: row;
        height: 60px;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 20px;

        & h2 {
            font-size: 20px;
        }

        & a{
            text-decoration: none;
            color: white;
            background-color: var(--secondary-color);
            padding: 10px 20px;
            border-radius: 30px;
            font-weight: bold;
            transition: background-color 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out;
            margin-right: 20px;
            text-decoration: none;
            
            font-size: 15px;
            font-weight: bold;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: translateY(-3px);
                background-color: var(--primary-color);
            }
        }

    }

    & span:nth-child(1) {
        color: var(--secondary-color);
    }

    & span:nth-child(2) {
        text-decoration: underline;
        font-weight: lighter;
    }
}

main section:first-child {
    min-height: calc(100vh - 40px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

main section div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 412px;
    height: 590px;
    background: #3e9edd;
    border-radius: 40px;
    box-shadow: rgba(0, 81, 255, 0.4) 5px 5px, rgba(0, 81, 255, 0.3) 10px 10px, rgba(0, 102, 255, 0.2) 15px 15px, rgba(0, 102, 255, 0.1) 20px 20px, rgba(0, 119, 255, 0.05) 25px 25px;
    transition: 
    box-shadow 1s ease-in-out,
    transform 0.8s ease-in-out;
    overflow: hidden;

    & h2{
        color: rgb(255, 255, 255);
    }
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: rgba(0, 119, 255, 0.4) 15px 15px, rgba(0, 60, 255, 0.3) 20px 20px, rgba(0, 102, 255, 0.2) 25px 25px, rgba(0, 102, 255, 0.1) 30px 30px, rgba(0, 140, 255, 0.05) 35px 35px;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    text-transform: uppercase;
}
.card-footer{
    height: 70px;
    width: 100%;
    background-color: white;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

hr {
    width: 180px;
    height: 2px;
    background-color: white;
    border: none;
}

.card-content img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    transition: all 1s ease-in-out;
}

.card-content img:hover {
    filter: drop-shadow( 0 10px 20px rgba(213, 241, 252, 0.8));
    transition: all 1s ease-in-out;
}

.redes  {
        display: flex;
        flex-direction: row;
        gap: 20px;

        img {
            width: 50px;
            height: 50px;
        }
}

.informacion {
    & article{
        display: flex;
        flex-direction: column;
        width: 550px;
    }

    & h2{
        font-size: 40px;
        white-space: pre-line;
        margin-bottom: 15px;
    }

    & h3{
        font-size: 25px;
        white-space: pre-line;
        margin-bottom: 15px;
    }

    & p{
        font-size: 23px;
        line-height: 32px;
        margin-bottom: 5px;
        text-wrap: pretty;
        text-align: justify;
    }

    & aside{
        margin: 20px 0;
    }

    & a{
        text-decoration: none;
        font-size: 12px;
        color: white;
        background-color: aquamarine;
        padding: 10px 20px;
        border-radius: 30px;
        font-weight: bold;
        transition: background-color 0.3s ease-in-out;
        margin-right: 20px;
    }
    a:hover {
        background-color: var(--primary-color);
    }
}

.projects {
    display: flex;
    flex-direction: row;
    gap: 120px;
    padding: 30px 20px;
}

.line{
    width: auto;
    height: 3px;
    background-color: var(--third-color);
    border: none;
    margin: 20px;
}

.project-card {
    background-color: #ffffff;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    width: 250px;
    height: auto;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    font-size: 22px;
    color: var(--primary-color);
    text-align: center;
}

.project-card p {
    font-size: 16px;
    color: #333;
}

.project-card a{
    font-size: 13px;
    color: var(--secondary-color);
    gap: 10px;
}


footer{
    display: grid;
    place-content: center;
    width: 100%;
    height: 40px;
    background: #3498db;
    color: white;
}

/*--------------------------------------------------*/
/* Tablets y pantallas medianas */
@media (max-width: 1024px) {
    main section:first-child {
        grid-template-columns: 1fr;
        gap: 35px;
        padding: 80px 20px 30px;
    }

    .card {
        width: 450px;
        max-width: 490px;
        height: 670px;
    }

    article {
        padding: 5px;
        width: 100%;
        max-width: 550px;
    }
}

/* Teléfonos grandes (phablets) */
@media (max-width: 850px) {
    main section:first-child {
        grid-template-columns: 1fr;
        gap: 35px;
        padding: 80px 20px 30px;
    }
    .card {
        width: 100%;
        max-width: 490px;
        margin: 0 auto;
    }
    article {
        padding: 5px 5px;
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
    }
}

/* Teléfonos pequeños */
@media (max-width: 550px) {
    main #about-me {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        margin: 90px 0;
    }

    .card {
        max-width: 420px;
        margin: 10px auto;
    }

    article {
        padding: 5px 55px;
        width: 100%;
        max-width: 550px;
        margin: 0px auto;
    }

    .projects {
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 30px 20px;
    }
}
/* Teléfonos muy pequeños (opcional) */
@media (max-width: 360px) {
    .card {
        width: 280px;
        height: 400px;
    }

    article {
        width: 100%;
        padding: 0 70px;
    }

    article h2 {
        font-size: 28px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        gap: 120px;
        padding: 30px 20px;
    }
}